{% extends 'base.html' %}

{% block content %}

<form method="POST" action="new">
    {% csrf_token %}
    <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text" class="form-control" name="titulo" id="id_titulo"
            placeholder="Titulo del libro">
            <!-- {{form.titulo}} -->
    </div>

    <div class="form-group">
        <label for="editorial">Editorial</label>
        <input type="text" class="form-control" name="editorial" id="id_editorial"
            placeholder="Editorial del libro">
        <!-- {{form.editorial}} -->
    </div>

    <div class="form-group">
        <label for="state">Estado</label>
        <!-- <input type="text" class="form-control" name="state" id="id_state" value=" {{book.state}} "> -->
            {{form.state}}
    </div>

    <div class="form-group">
        <label for="type">Tipo</label>
            {{form.type}}
    </div>

    <div class="form-group">
        <label for="type">Color favorito</label>
            {{form.favorite_color}}
    </div>

    <button type="submit" class="btn btn-primary m-2" >Agregar Libro</button>
</form>

{% endblock %}